@{
    ViewData["Title"] = "VerDetalleDeporte";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Deporte.nombre</h1>
    
    <img src="@ViewBag.Deporte.foto">

    

    @foreach (Deportistas item in ViewBag.listaDeportistas)
    {
    <div class="card" style="width: 18rem;">
        <img src="@item.foto" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@item.nombre</h5>
            <h5 class="card-title">@item.apellido</h5>
            <a href='@Url.Action("verDetalleDeportista","Home", new {idDeportista = item.idDeportista})' class="btn btn-primary">DEPORTISTA</a>
        </div>
    </div>
    }

</div>